.register-merchant {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .notice {
    font-size: 10px;
    width: 100%;
    .dot {
      margin-right: 3px;
      height: 10px;
      width: 10px;
      background-color: red;
      border-radius: 50%;
      display: inline-block;
      &.true {
        background-color: green;
      }
    }
  }
}