.header {
  padding: 10px 15px;
  position: relative;
  @media screen and (max-width: 1200px) {
    padding: 5px;
  }

  .link-text {
    display: block;
    font-size: 25px;
    margin: 15px;

    text-decoration: none;
  }
  .group {
    .logo {
      width: 70px;
    }
    .title {
      color: antiquewhite;
      font-size: 50px;
      display: block;
      text-align: center;
    }
  }
}
