.register {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;

  .capture-window {
    margin-right: 15%;
    .webcam-window {
      float: right;
    }

    .capture-button {
      display: block;
      margin: auto;
    }
  }

  .form-submit {
    margin-left: 15%;

    .form {
      float: left;
    }
  }
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}
